body{
    max-width: 1024px;
    margin: 0 auto;
    background-color: #000000;
    font-family: sans-serif;
    color: #FFFFFF;
    
}

    .nav_el{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items: center;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.home {
    background-image: url(../src/solo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
h1 {
    color: #FFFFFF; 
    text-align: center;
    font-family: arial black;
  
    
}
h2 {
    color: #FFFFFF; 
    text-align: center;
    font-family: arial black;
   
}

